.contact-section {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.contact-info i {
  width: 40px;
  height: 40px;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.contact-form button {
  border: none;
  border-radius: 20px;
}
.email-link {
    color: black;
    text-decoration: none;
}
.email-link:hover{
    color: red;
    text-decoration: none;
}
